.box-singleton {
    background-color: var(--main-color-light);
    padding: 20px;
    overflow: hidden;
}

#box-actions .heading {
    color: #fff;
}

.box-singleton #category {
    color: #898995;
    font-size: 12px;
}

#box-image-wrapper img {
    transition: transform 150ms ease-in;
}

#box-image-wrapper:hover img {
    transform: rotate(-5deg) scale(1.1);
}

#box-image-wrapper:hover .overlay-icon {
    opacity: 1;
}

.box-singleton #price {
    padding: 5px;
    background-color: var(--main-green);
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
}

/*badges*/
.badge {
    top: 15px;
    left: 15px;
    color: white;
    border-radius: 0;
}

.badge.hot {
    background-color: var(--main-hot);
}

.badge.new {
    background-color: #25942a;
}

.badge.featured {
    background-color: rgb(61, 120, 157);
}

.badge.free {
    background-color: rgb(229, 143, 11);
}

.overlay-icon {
    position: absolute;
    padding: 1rem;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    opacity: 0;
}

.overlay-icon #blurred {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(8px);
}
