.item-opening-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-opening-wrapper .item {
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--main-color-light);
}

.item-opening-wrapper #price {
    padding: 5px;
    background-color: var(--main-green);
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .item-opening-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .item-opening-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

